
<body class="background">

	<div ng-app="app" ng-controller="MainController">
	
		<maaxow:timer data-date="weddingDate"></maaxow:timer>
<!-- 		LOGO -->
		<div class="row" style="margin-top: 5%">
			<div class="col-lg-6 offset-lg-5 col-xs-6 offset-xs-1">
				<img class="img-responsive" src="img/logo_titre.png" alt="logo" width="360" height="260">
			</div>
		</div>
		
		
<!-- 		MENU -->
		<div class="menu row">
			<div class="col-12">
				<span class="menuitem" data-ng-class="{selected: state=='home'}" data-ui-sref="home" data-ng-click="clickMenu('home')">Accueil</span>
<!-- 				<span class="menuitem col" ui-sref="story">Notre Histoire</span> -->
<!-- 				<span class="menuitem col" ui-sref="article">Articles</span> -->
				<span class="menuitem col" data-ng-class="{selected: state=='info'}" data-ui-sref="info" data-ng-click="clickMenu('info')">Informations Pratiques</span>
				<span class="menuitem col" data-ng-class="{selected: state=='lodging'}" data-ui-sref="lodging" data-ng-click="clickMenu('lodging')">Hebergement</span>
				<!-- <span class="menuitem col" ui-sref="guest">Invites</span> -->
				<span class="menuitem col" data-ng-class="{selected: state=='giftList'}" data-ui-sref="giftList" data-ng-click="clickMenu('giftList')">Liste de Cadeaux</span>
<!-- 				<span class="menuitem col" ui-sref="contact">Contacts</span> -->
				<span class="menuitem col" data-ng-class="{selected: state=='rsvp'}" data-ui-sref="rsvp" data-ng-click="clickMenu('rsvp')">RSVP</span>
				<span class="menuitem col" data-ng-class="{selected: state=='message'}" data-ui-sref="message" data-ng-click="clickMenu('message')">Messages</span>
				<!-- <span class="menuitem col" ui-sref="admin">Admin</span> -->
				<span class="menuitem col" data-ng-class="{selected: state=='subscribe'}" data-ui-sref="subscribe" data-ng-click="clickMenu('subscribe')">S'abonner</span>
			</div>
		</div>


<!-- 		SEPARATOR -->
		<div class="row">
			<div class="col-3 offset-4">
				<hr>
				<hr>
			</div>
		</div>

		<br>

			<a target="_blank" href="https://calendar.google.com/event?action=TEMPLATE&amp;tmeid=NnU3djY3YnVyN3ZzNHY1MXRuZ242OXJlNXMgdWk3MWUwdW5ybm0zaTZwZXVianRhMHU3bmdAZw&amp;tmsrc=ui71e0unrnm3i6peubjta0u7ng%40group.calendar.google.com"><img border="0" src="https://www.google.com/calendar/images/ext/gc_button1_fr.gif"></a>

			<div class="row justify-content-center" ui-view></div>

			<div class="col-12" style="text-align: center; padding: 20px">
				Site entièrement réalisé avec <span style="color: red;">&hearts;</span> par &copy; Maxime & Elodie
				<span class="version">v{{version}}</span>
			</div>
	</div>
</body>
</html>
