<div class="card col-lg-8 offset-lg-1">

	<h1 class="title">La liste de cadeaux</h1>
	
	<div>
		<p>
			Notre plus beau cadeau sera votre pr&eacute;sence.   
			Toutefois, si vous voulez contribuer &agrave; la concr&eacute;tisation de nos futurs projets nous vous avons concoct&eacute; 
			une liste de mariage   (Nous ne souhaitons pas recevoir de fleurs pour la simple et bonne raison que nous allons 
			forc&eacute;ment retourner &agrave; Lille   apr&egrave;s le mariage et nous ne 
			voudrions pas les ab&icirc;mer).   Sachez qu&rsquo;une urne nuptiale sera pr&eacute;sente le jour j.
			<br/>
			Nous avons &eacute;galement mis en place une cagnotte en ligne. Vous pouvez y participer via ce bouton :
		</p>
		<div class="offset-5">
			<a class="btn btn-success" target="_blank" href="https://paypal.me/pools/c/85E3hQA3c1">Acc&eacute;der &agrave; la cagnotte en ligne</a>
		</div>
		<div class="row">
			<div class="col-lg-1">
				<span>{{currentAmount}} €</span>
			</div>
			<div class="col-lg-1 offset-lg-10">
				<span>{{totalAmount}} €</span>
			</div>
		</div>
		<div class="col-lg-12">
			<div class="progress">
				<div class="progress-bar progress-bar-striped bg-success"
					ng-style="progressBarStyle" role="progressbar"
					aria-valuenow="0" aria-valuemin="0"
					aria-valuemax="{{totalAmount}}"></div>
			</div>
		</div>
	</div>
	<br>
	<div class="container" data-ng-repeat="gift in gifts"
		style="over-flow: hidden;">

		<div class="row">

			<div class="col-lg-4">
				<img class="gift-img mr-4" ng-if="gift != null" src="img/gifts/{{gift.meta.img}}"
					alt="image">
			</div>

			<div class="row col-lg-7">
				<div class="row col-lg-12 align-items-center">
					<h4 class="title-info col-lg-9 col-sm-6">{{gift.name}}</h4>
<!-- 					<span class="col-lg-3">Prix : {{gift.total}} €</span> -->
				</div>
				<div class="col-lg-12 align-items-start">
					<span>{{gift.description}}</span>
				</div>

			</div>

		</div>

		<hr data-ng-if="!$last" class="dotted col-3">
	</div>

</div>
