<div class="border col-8 offset-2 card">

	<h1 class="title">La liste de cadeaux</h1>

<br>
	<div class="container" data-ng-repeat="gift in gifts" style="over-flow: hidden;">

    <div class="row">

      <img src="../img/logo_titre.png" alt="image" width="200" height="200">

      <div>
        <div class="row">
          <h4 class="title-info col-10">{{gift.name}}</h4>
          <span class="col-2">{{gift.total}} €</span>
        </div>
        <div class="row col-12">
          <span>{{gift.description}}</span>
        </div>
        <div class="progress">
          <div class="progress-bar progress-bar-striped bg-success" ng-style="progressWidth" role="progressbar" aria-valuenow="{{calculRest(gift)}}" aria-valuemin="0" aria-valuemax="{{gift.total}}"></div>
        </div>

        <div class="row col-2 offset-3">
          <span>{{calculRest(gift)}} €</span>
        </div>

        <div class="row offset-8 col-4">
          <div>
            <span class="">Liste des participants :</span>
          </div>
          <div>
            <ul>
              <li data-ng-repeat="part in gift.participants"> {{part.name}} : {{part.amount}} €</li>
            </ul>
          </div>
        </div>
      </div>

      </div>

    <hr data-ng-if="!$last" class="dotted col-3">
  </div>

</div>
