<div class="card container">

	<div class="row">
		<ul class="nav justify-content-center col-6 offset-3" style="border-bottom: 1px solid black;">
			<li class="nav-item admin-link" ng-class="{'active': isGuest}" ng-click="changeView('admin.guest')"><a class="nav-link">Invites</a></li>
			<li class="nav-item admin-link" ng-class="{'active': isFamily}" ng-click="changeView('admin.family')"><a class="nav-link">Famille</a></li>
			<li class="nav-item admin-link" ng-class="{'active': isGift}" ng-click="changeView('admin.gift')"><a class="nav-link">Cadeaux</a></li>
		</ul>
	</div>

	<div ui-view></div>

</div>
