<div class="card col-lg-8 offset-lg-1">

	<h1 class="title">Le programme du Mariage</h1>

	<br>
	<prog:info data-ng-repeat="info in infos"
							data-date="info.date"
							data-hours="info.hours"
							data-title="info.title"
							data-place="info.place"
							data-maps-link="info.mapsLink"
							data-description="info.description"
	></prog:info>

</div>
<div class="card col-lg-8 offset-lg-1">

	<h1 class="title">Th&egrave;me</h1>
	<br>
	<p>
		Le mariage sera acc&egrave;s autour du th&egrave;me &laquo; Nature et Romantisme &raquo;.   
		N&rsquo;ayez crainte, il n&rsquo;est pas n&eacute;cessaire de faire un rappel au th&egrave;me.
	</p>
</div>
<div class="card col-lg-8 offset-lg-1">

	<h1 class="title">Co-Voiturage</h1>
	<br>
	<p>
		Vous savez que nous sommes sensibles &agrave; la pr&eacute;servation de l&rsquo;environnement et 
		nous savons c&rsquo;est pourquoi nous vous invitons &agrave; privil&eacute;gier le co-voiturage.   
		N&rsquo;h&eacute;sitez pas &agrave; discuter autour de vous, il y a des personnes qui n&rsquo;osent peut-&ecirc;tre pas vous demander.
	</p>
</div>
