<div id="timer">
	<div class="timer col-md-6">
		<table class="timerTable">
			<tr>
				<td class="cell-border cell-time" ng-repeat="letter1 in daysString track by $index">{{letter1}}</td>
				<td class="cell-time"></td>
				<td class="cell-border cell-time" ng-repeat="letter2 in hoursString track by $index">{{letter2}}</td>
				<td class="cell-border cell-time"> : </td>
				<td class="cell-border cell-time" ng-repeat="letter3 in minutesString track by $index">{{letter3}}</td>
				<td class="cell-border cell-time"> : </td>
				<td class="cell-border cell-time" ng-repeat="letter4 in secondsString track by $index">{{letter4}}</td>
			</tr>
			<tr>
				<td class="uppercase" colspan="{{nbDigitDays}}">Jours</td>
				<td></td>
				<td class="uppercase" colspan="{{nbDigitHours}}">Heures</td>
				<td></td>
				<td class="uppercase" colspan="{{nbDigitMinutes}}">Minutes</td>
				<td></td>
				<td class="uppercase" colspan="{{nbDigitSeconds}}">Secondes</td>
			</tr>
		</table>
	</div>
</div>
