<div class="card col-lg-8 offset-lg-1">

	<h1 class="title">Les h&eacute;bergements</h1>
	
	<div>
		<p>
			La Ch&acirc;teau de Vauchelles propose des chambres, et elles sont toutes disponibles pour vous. 
			Ce sont des chambres de luxe, dans un cadre magnifique, et avec le petit d&eacute;jeun&eacute; inclu.
			Il est possible de r&eacute;server 1, 2 ou 3 nuits, et les prix vont de 130€ &agrave; 250€ la nuit.
			<br>
			C'est nous qui g&eacute;rons les r&eacute;servations, et le paiement. Merci de nous contacter pour toute r&eacute;servation, 
			et de nous r&eacute;gler avant le mariage.			
			<br>
			Voici une liste non exaustive des h&eacute;bergements aux alentours de la salle de r&eacute;ception.
		</p>
	</div>
	<br>
	<div class="container" data-ng-repeat="hotel in hotels"
		style="over-flow: hidden;">
		<div class="row">

			<div class="row col-lg-12">
				<div class="row col-lg-12 align-items-center">
					<h4 class="title-info col-lg-5 col-sm-6">{{hotel.name}}</h4>
					<span class="col-lg-3">Distance de la salle : {{hotel.distance}} min</span>
					<span class="col-lg-2">Prix : ~{{hotel.price}} €</span>
				</div>
				<div class="col-lg-12 row">
					<div class="col-lg-8">
						<a href="{{hotel.addressLink}}" target="_blank"><i class="material-icons" style="color: #D04B4B">location_on</i> {{ hotel.address }}</a>
					</div>
					<div>
						<a class="btn btn-success" href="{{hotel.bookingLink}}" role="button">R&eacute;servation</a>
					</div>
				</div>

			</div>

		</div>
		<br>
		<hr data-ng-if="!$last" class="dotted col-8">
	</div>

</div>
