<div class="card col-lg-8 offset-lg-2">

	<h1 class="title">Les hébergements</h1>
	
	<div>
		<p>
			Voici une liste non exaustive des h&ecute;bergements aux alentours de la salle de r&ecute;ception.
		</p>
	</div>
	<br>
	<div class="container" data-ng-repeat="hotel in hotels"
		style="over-flow: hidden;">

		<div class="row">

			<div class="col-lg-4">
<!-- 				<img class="gift-img mr-4" ng-if="hotel != null" src="img/gifts/{{gift.meta.img}}" -->
<!-- 					alt="image"> -->
			</div>

			<div class="row col-lg-7">
				<div class="row col-lg-12 align-items-center">
					<h4 class="title-info col-lg-9 col-sm-6">{{hotel.name}}</h4>
					<span class="col-lg-3">Prix : {{hotel.total}} â‚¬</span>
				</div>
				<div class="col-lg-12 align-items-start">
					<span>{{hotel.description}}</span>
				</div>

			</div>

		</div>

		<hr data-ng-if="!$last" class="dotted col-3">
	</div>

</div>
